/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 150px;
    height: 150px;
    padding: 1rem;
    background: white;
    border-radius: 3rem;
    margin-bottom: 2rem;
}

[data-theme='dark'] .icon {
    background: #242526;
}
